
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1><%= title %></h1>
    <p><%=description %></p>
    <%= yield %>
  </div>
</div>