<!-- Main jumbotron for a primary marketing message or call to action -->
<%= render :partial => 'partials/jumbotron' ,  :locals => {:title=> "Contato:", :description => "Item : #{@item.name}"}%>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-1">
            <%= form_for @contact, url: {action: "create"} do |f| %>
            <div class="field">
                <%= f.label :name%>
                <%= f.text_field :name %>
                <%= f.label :email%>
                <%= f.text_field :email %>
                <%= f.label :message%>
                <%= f.text_area :message %>
            </div>
            <div class="actions">
                <%= f.submit "Enviar"%>
            </div>
            <% end %>
        </div>
    </div>

</div>